# All folders starting with _ are local.
_*/
.cache
.local
# Compiled python files.
*.py[cod]

# Visual Studio files.
/.vs
**/.vscode/ipch
.lastformat
.lastverify

# macOS files.
.DS_Store

# Generated license file.
PACKAGE-DEPS.yaml

.nvidia-omniverse

# Internal CI/CD files.
/.teamcity
/tools/ci